    #jascri { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgba(10, 177, 60, 0.897);
    }    
    #eichtml { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgba(10, 177, 60, 0.897);
    }    
    #cieses { font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        ;
        color: rgba(10, 177, 60, 0.897);
    }
    #sobrem{ font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
        ; font-size:xx-large ;
        color: rgba(155, 12, 2, 0.897);
    }